/* Content */

.content {
  padding: 10px 0;
}

.widget_section {
  margin-bottom: 30px;
  padding: 10px 0;
  padding-bottom: 20px;
  background: var(--background2);
  font-family: "inter", sans-serif;
}

.widget-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
}

.widget-title a {
  background: var(--primary);
  font-weight: 500;
  padding: 6px 0;
  text-align: center;
  width: 120px;
  transition: 0.2s ease-in-out;
}

.widget-title a:hover {
  background: var(--softPrimary);
}

.widget-title h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
}

.posts {
  padding: 0 20px;
  padding-top: 20px;
  display: grid;
  gap: 20px;
}

.posts .animepost {
  display: flex;
  gap: 0 10px;
  width: 100%;
  max-height: 250px;
}

.posts .animepost .poster {
  position: relative;
  width: 100%;
  min-width: 120px;
  max-width: 150px;
  height: 100%;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.posts .animepost .poster .day_update,
.posts .animepost .poster .rating {
  position: absolute;
  z-index: 99;
  top: 10px;
  /* font-size: 15px; */
  font-size: clamp(0.75rem, 0.5156rem + 0.75vw, 0.9375rem);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2px;
  background: #da4453;
  padding: 6px;
  transition: 0.2s ease-in-out;
}

.posts .animepost .poster .day_update {
  background: #e4ab01;
}

.posts .animepost .poster .rating span {
  font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
}

.posts .animepost .poster .img {
  height: 100%;
  width: 100%;
}

.posts .animepost .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s ease-in-out;
}

.posts .animepost .poster:hover img {
  transform: scale(1.1);
  backdrop-filter: blur(2);
}
.posts .animepost .poster:hover .day_update,
.posts .animepost .poster:hover .rating {
  opacity: 0;
}

.posts .animepost .poster i.play {
  opacity: 0;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
}

.posts .animepost .poster:hover i.play {
  opacity: 1;
}

.posts .animepost .post-desc .post-title {
  font-size: 15px;
  font-weight: 500;
  max-width: 200px;
  min-width: 150px;
  width: 100%;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  transition: 0.1s ease-in-out;
}

.posts .animepost .post-desc .post-title:hover {
  color: var(--softPrimary);
}

.posts .animepost .post-desc .post-eps {
  display: grid;
  gap: 7px 5px;
  padding: 15px 0;
  border-top: 2px dashed var(--background3);
  max-height: 160px;
  overflow: auto;
}

.posts .animepost .post-desc .post-eps a {
  padding: 4px 10px;
  font-size: 14px;
  text-align: center;
  background: var(--background3);
  border-radius: 40px;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
}

.posts .animepost .post-desc .post-eps a:hover {
  background: var(--primary);
}

.posts.batch {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  justify-content: center;
}

.posts.batch .animepost {
  height: 100%;
  max-width: 170px;
  height: 100%;
  flex-direction: column;
}

.posts.batch .animepost .post-title {
  font-weight: 500;
}

/* Content */
